@model ProductViewModel
@{ ViewBag.Title = "New Product";
    String ImagePath = string.Empty; }



<form asp-controller="Home" asp-action="Save" method="post" class="m-3" enctype="multipart/form-data">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Profile" />



    <div class="row m-2">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <input asp-for="Name" class="col-sm-4 col-form-control" />
        <span id="spnNameError" asp-validation-for="Name" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger col-sm-3" })
    </div>
    <div class="row m-2">
        <label asp-for="Qty" class="col-sm-2 col-form-label"></label>
        <input asp-for="Qty" class="col-sm-4 col-form-control" />
        <span id="spnQtyError" asp-validation-for="Qty" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Qty, "", new { @class = "text-danger col-sm-3" })
    </div>
    <div class="row m-2">
        <label asp-for="Rate" class="col-sm-2 col-form-label"></label>
        <input asp-for="Rate" class="col-sm-4 col-form-control" />
        <span id="spnRateError" asp-validation-for="Rate" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Rate, "", new { @class = "text-danger col-sm-3" })
    </div>
    <div class="row m-2">
        <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
        <input asp-for="Brand" class="col-sm-4 col-form-control" />
        <span id="spnBrandError" asp-validation-for="Brand" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Brand, "", new { @class = "text-danger col-sm-3" })
    </div>
    <div class="row m-2">
        <label asp-for="Generation" class="col-sm-2 col-form-label"></label>
        <input asp-for="Generation" class="col-sm-4 col-form-control" />
        <span id="spnGenerationError" asp-validation-for="Generation" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Generation, "", new { @class = "text-danger col-sm-3" })
    </div>

    <div class="row m-2">
        <label asp-for="Sims" class="col-sm-2 col-form-label"></label>
        <input asp-for="Sims" class="col-sm-4 col-form-control" />
        <span id="spnSimsError" asp-validation-for="Sims" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Sims, "", new { @class = "text-danger col-sm-3" })
    </div>

    <div class="row m-2">
        <label asp-for="OS" class="col-sm-2 col-form-label"></label>
        <input asp-for="OS" class="col-sm-4 col-form-control" />
        <span id="spnOSError" asp-validation-for="OS" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.OS, "", new { @class = "text-danger col-sm-3" })
    </div>

    <div class="row m-2">
        <label asp-for="RAM" class="col-sm-2 col-form-label"></label>
        <input asp-for="RAM" class="col-sm-4 col-form-control" />
        <span id="spnRAMError" asp-validation-for="RAM" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.RAM, "", new { @class = "text-danger col-sm-3" })
    </div>

    <div class="row m-2">
        <label asp-for="ROM" class="col-sm-2 col-form-label"></label>
        <input asp-for="ROM" class="col-sm-4 col-form-control" />
        <span id="spnROMError" asp-validation-for="ROM" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.ROM, "", new { @class = "text-danger col-sm-3" })
    </div>
    <div class="row m-2">
        <label asp-for="Color" class="col-sm-2 col-form-label"></label>
        <input asp-for="Color" class="col-sm-4 col-form-control" />
        <span id="spnColorError" asp-validation-for="Color" style="color:red" class="col-sm-3">*</span>
        @Html.ValidationMessageFor(m => m.Color, "", new { @class = "text-danger col-sm-3" })
    </div>

    <div class="row m-2">
        <label class="col-sm-2 col-form-label">Is-Active</label>
        <div class="col-10">
            <div class="form-check form-check-inline">
                <label class="form-check-label" asp-for="IsActive">Active</label>
                <input class="form-check-input" asp-for="IsActive" />
            </div>
        </div>
    </div>
    <div class="row m-2">
        <label asp-for="Category" class="col-sm-2 col-form-label"></label>
        <select asp-for="CatId" asp-items="@(new SelectList(ViewBag.Category,"Id","Name"))"
                class="col-sm-5 col-form-select"></select>
    </div>

    <div class="row m-2">
        <label asp-for="SubCategory" class="col-sm-2 col-form-label"></label>
        <select asp-for="SubId" asp-items="@(new SelectList(ViewBag.SubCategory,"Id","Name"))"
                class="col-sm-5 col-form-select"></select>
    </div>

    @{ if (Model.Profile == null)
        {
            ImagePath = "/images/img.jpg";
        }
        else
        {
            ImagePath = "/images" + Model.Profile;
        } }
    <div class="row m-2">
        <div class="col-sm-2">
            <label asp-for="Profile" class="form-label"></label>
        </div>
        <div class="col-sm-2">
            <img class="img-thumbnail" width="auto" height="20%" src="@ImagePath" asp-append-version="true" />
        </div>
        <div class="col-sm-4">
            <input asp-for="Image" class="form-control col-sm-5" />
        </div>
        <div class="row m-2">
            <button type="submit" class="btn btn-success col-sm-2" id="btnSave">Save</button>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        function IsBlank(input) {
            let value = input.val().trim();
            if (value == undefined || value == '')
                return true;
            return false;
        }
        function IsOnlyNumeric(input) {
            let value = input.val().trim();
            return isNaN(value);
        }
        $(document).ready(function () {
            $("#btnSave").on("click", function (event) {
                $("#spnNameError").text("*");
                $("#spnQtyError").text("*");
                $("#spnRateError").text("*");
                let name = $("#Name");
                let qty = $("#Qty");
                let rate = $("#Rate");
                let RAM = $("#RAM");
                let ROM = $("#ROM");
                let Brand = $("#Brand");
                let Gen = $("#Generation");
                let Color = $("#Color");
                let OS = $("#OS");
                let Sim = $("#Sims");
                let error = false;
                let CatId = $("#CatId");
                if (IsBlank(name)) {
                    $("#spnNameError").text("Name should not be empty!");
                    error = true;
                }
                if (IsBlank(Color)) {
                    $("#spnColorError").text("Color should not be empty!");
                    error = true;
                }
                if (!IsOnlyNumeric(name)) {
                    $("#spnNameError").text("Name should not be numeric !");
                    error = true;
                }
                if (IsBlank(Gen)) {
                    $("#spnGenerationError").text("Generation should not be empty!");
                    error = true;
                }

                if (IsBlank(Brand)) {
                    $("#spnBrandError").text("Brand should not be empty!");
                    error = true;
                }
                if (IsBlank(OS)) {
                    $("#spnOSError").text("OS should not be empty!");
                    error = true;
                }
                if (!IsOnlyNumeric(Brand)) {
                    $("#spnBrandError").text("Brand should not be numeric !");
                    error = true;
                }
                if (qty.val() <= 0) {
                    $("#spnQtyError").text("Qty should be more than Zero!");
                    error = true;
                }
                if (rate.val() <= 0) {
                    $("#spnRateError").text("Rate should be more than Zero!");
                    error = true;
                }
                if (Sim.val() <= 0) {
                    $("#spnSimsError").text("Sim should be more than Zero!");
                    error = true;
                }
                if (RAM.val() <= 0) {
                    $("#spnRAMError").text("RAM should be more than Zero!");
                    error = true;
                }
                if (ROM.val() <= 0) {
                    $("#spnROMError").text("ROM should be more than Zero!");
                    error = true;
                }
                if (error) {
                    event.preventDefault();
                }
                else {
                    if ($("#Id").val() != 0 && name.val().trim() != '') {
                        //$.post("/Home/CheckUpdateUnique", { name: name.val().trim(), catId: CatId.val(), prodId: $("#Id").val() },
                        //    function (data) {
                        //        alert(data);
                        //        if (!data) {
                        //            alert("Duplicate Product Name not allowed!");
                        //            event.preventDefault();
                        //        }
                        //        else {
                        //            alert("Success!");
                        //        }
                        //});
                        $.ajax("/Home/CheckUpdateUnique", {
                            type: 'POST',
                            async: false,
                            dataType: 'json',
                            data: { name: name.val().trim(), catId: CatId.val(), prodId: $("#Id").val() },
                            success: function (data, status, xhr) {
                                if (!data) {
                                    alert("Duplicate Product Name not allowed!");
                                    event.preventDefault();
                                }
                            },
                            error: function (jqXhr, textStatus, errorMessage) {
                                alert(errorMessage);
                            }
                        });
                    }
                    else {
                        $.ajax("/Home/CheckInsertUnique", {
                            type: 'POST',
                            async: false,
                            dataType: 'json',
                            data: { name: name.val().trim(), catId: CatId.val() },
                            success: function (data, status, xhr) {
                                if (!data) {
                                    alert("Duplicate Product Name not allowed!");
                                    event.preventDefault();
                                }
                            },
                            error: function (jqXhr, textStatus, errorMessage) {
                                alert(errorMessage);
                            }
                        });
                        //$.post("/Home/CheckInsertUnique", { name: name.val().trim(), catId: CatId.val() },
                        //    function (data) {
                        //        alert(data);
                        //        if (!data) {
                        //            alert("Duplicate Product Name not allowed!");
                        //            event.preventDefault();
                        //        }
                        //        else {
                        //            alert("Success!");
                        //        }
                        //});
                    }
                }
                //alert(error)
            })
        })
    </script>
}
